@import url("https://fonts.googleapis.com/css2?family=Jersey+10&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap");

.nav {
  height: 8.5vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: 1;
  background-color: transparent;
}
.navBar {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo {
  width: 80%;
}
.navBar img {
  height: 4rem;
}
.btn {
  background-color: rgb(255, 255, 255);
  width: 10rem;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  height: 40px;
}
.btn:hover {
  border: 2px solid black;
  border-radius: 20px;
}
.mainPage {
  height: 91.5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url("/Alumni1.jpg");
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
  align-items: center;
  background-size: cover;
}
.tagline {
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tagline h1 {
  font-size: 4rem;
  font-family: "Platypi", sans-serif;
  margin-bottom: 20px;
}
.tagline p {
  font-size: 2rem;
  color: rgb(144, 29, 197);
  margin-bottom: 20px;
  font-weight: bold;
}
.buttons button {
  background-color: white;
  color: black;
  height: 3rem;
  width: 8rem;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 20px;
  background-color: transparent;
}
.buttons button:hover {
  background-color: black;
  color: white;
}
.picture {
  width: 55%;
  padding-top: 5rem;
}
.picture img {
  max-width: 100%;
}
